@import "tailwindcss";

@layer base {
  body {
    @apply bg-gradient-to-br  dark:from-gray-900 dark:to-gray-800;
  }
}
:root {
  --time: 1.2s;
}

.animate-infinite-scroll {
  display: flex;
  animation: infinite-scroll 30s linear infinite;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-fadein {
  animation: fade-in var(--time) linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-bounce {
  animation: bounce-2 0.9s linear infinite;
}

@keyframes bounce-2 {
  0%,
  100% {
    transform: translateY(-5%) rotate(5deg);
    animation-timing-function: cubic-bezier(0.9, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-border-pulse {
  animation: border-pulse 3s ease-in-out infinite;
}

@keyframes border-pulse {
  0% {
    border-color: #10b981; /* emerald-500 */
    box-shadow: 0 2px 6px #10b981;
  }
  33% {
    border-color: #0ea5e9; /* sky-500 */
    box-shadow: 0 2px 6px #0ea5e9;
  }
  66% {
    border-color: #8b5cf6; /* violet-500 */
    box-shadow: 0 2px 6px #8b5cf6;
  }
  100% {
    border-color: #10b981; /* loop back to emerald */
    box-shadow: 0 2px 6px #10b981;
  }
}
